@use "sass:map";

@use "anchor-link";
@use "about";
@use "base";
@use "config";
@use "footer";
@use "index";
@use "post";
@use "components/mobile-nav";
@use "components/desktop-nav";
@use "components/post-header";
@use "components/table-of-contents";

body {
  background: map.get(config.$theme, "color", "background");
  color: map.get(config.$theme, "font", "primary");
  font-size: 16px;
  overflow-y: scroll;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 21px;
}
