{% import "components/desktop-nav.html" as desktop_nav %}
{% import "components/socials.html" as socials %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if page and page.description %}
            <meta name="description" content="{{ page.description }}" />
        {% elif config.description %}
            <meta name="description" content="{{ config.description }}" />
        {% endif %}

        <title>
            {% block title %}
                {{ config.title }}
                {% if page and page.title %}
                    - {{ page.title }}
                {% endif %}
            {% endblock title %}
        </title>

        <link rel="stylesheet" href="{{ get_url(path="main.css", trailing_slash=false) }}">
    </head>
    <body>
        <div id="site-container">
            {{ desktop_nav::nav() }}

            <main id="main-container">
                {% block main %}{% endblock main %}
            </main>

            <footer>
                {{ socials::socials() }}
            </footer>
        </div>
    </body>
</html>

