{% macro nav() %}
    <div id="navbar-desktop">
        <div id="branding">
            <a href="{{ config.base_url }}">
                <img id="logo" src="{{ get_url(path="images/logo.png", trailing_slash=false) }}" />
                {{ config.title }}
            </a>
            <p id="description">{{ config.description }}</p>
        </div>
        <nav id="menu">
            <ul>
                {% for item in config.extra.atw_menu %}
                    <li>
                        <a id="{{ item.id }}" href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) }}">
                            {{ item.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
{% endmacro nav %}
