{% import "components/post-header.html" as post_header %}

{% macro post_list(paginator) %}
    <div id="post-list-container">
        {% for page in paginator.pages %}
            <article class="post-list-item">
                {{ post_header::post_header(page=page) }}
                <div class="summary">
                    {{ page.summary | safe }}
                </div>
                <div class="read-link">
                    <a href="{{ page.permalink }}#continue-reading">Continue reading ...</a>
                </div>
            </article>
        {% endfor %}
    </div>
{% endmacro post_list %}
