{% macro socials() %}
    <ul id="socials">
        <li class="logo"><a target="_blank" href="https://bsky.app/profile/attheirword.bsky.social"><img src="{{ get_url(path="images/bluesky-logo.svg") }}" /></a></li>
        <li class="logo"><a target="_blank" href="https://linkedin.com/in/noah-rubin"><img src="{{ get_url(path="images/linkedin-logo.svg") }}" /></a></li>
        <li class="logo"><a target="_blank" href="https://github.com/attheirworddotorg"><img src="{{ get_url(path="images/github-logo.svg") }}" /></a></li>
    </ul>
{% endmacro socials %}
