{% macro toc(page) %}
    <div id="table-of-contents">
        <h2 id="header">Contents</h2>
        <div id="table-container">
            <nav id="table">
                <ul>
                    {% for section in page.toc %}
                        <li class="section">
                            <a class="section-link" href="{{ section.permalink | safe }}">{{ section.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
{% endmacro toc %}
