@use "sass:map";

@use "../animations";
@use "../config";

.post-header {
  .title {
    margin: 0px;
    padding-bottom: 10px;

    a {
      text-decoration: none;

      @include animations.underline-from-center
    }
  }
  
  .metadata {
    color: map.get(config.$theme, "font" "accent");
    font-size: 15px;
    margin: 0px;

    .tag {
      padding-right: 2px;

      @include animations.underline-from-center
    }
  }
}
