@use "sass:map";

@use "../animations";
@use "../config";
@use "../utils";

$container-width: 150px;
$margin-left: config.$body-width - 10px;
$max-screen-width: 2 * $container-width + 2 * config.$padding-side + $margin-left - 1;

#table-of-contents {
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
  margin-left: $margin-left;
  position: fixed;
  top: 20px;
  width: $container-width;
  word-wrap: break-word;

  #table-container {

    #table {

      ul {
        margin-left: 15px;
        padding: 0px;

        .section {
          list-style-type: disclosure-closed;
          margin-bottom: 5px;

          .section-link {
            color: map.get(config.$theme, "font", "primary");
            text-decoration: none;

            @include animations.underline-from-center
          }
        }
      }
    }
  }

  @include utils.screen-max-width($max-screen-width) {
    display: none;
  }
}
